.meicool_wrap {
	width: 100%;
}

.haed_wrap {
	width: 100%;
	background: #f5f5f5;
}

.menu_wrap {
	width: 100%;
	border-bottom: 1px solid #F5F5F5;
	background: #ffffff;
}

.meicool_logo {
	display: inline-block;
	width: 177px;
	height: 50px;
	background: url(../img/langsi_logo.png) no-repeat;
	background-size: 100%;
}
.meicool_logo a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.hot_line {
	width: 1180px;
	height: 38px;
	margin: 0 auto;
	line-height: 38px;
	font-size: 11px;
	color: #666;
}

.menu_box {
	width: 1180px;
	height: 95px;
	margin: 0 auto;
}

.menu {
	display: inline-block;
	margin-top: 44px;
	margin-left: 90px;
}

.menu_li {
	position: relative;
	display: inline-block;
	width: 88px;
	height: 36px;
	margin: 0 25px;
}

.menu_li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 36px;
	color: #333333;
	font-size: 14px;
	border-radius: 18px;
	cursor: pointer;
}

.menu_li a:hover {
	text-decoration: none;
	color: white;
	background: #FE5A8C;
}

.menu_li_a {
	position: absolute;
	top: 40px;
	left: 13px;
	width: 62px;
	box-sizing: border-box;
	background: white;
	display: none;
	z-index: 999999999999999999;
	box-shadow: 0.5px 0.5px 5px #F2F2F2, -0.5px -0.5px 5px #F2F2F2;
	-webkit-box-shadow: 0.5px 0.5px 5px #F2F2F2, -0.5px -0.5px 5px #F2F2F2;
}

.menu_li_a li a {
	display: inline-block;
	width: 62px;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	color: #333333;
	cursor: pointer;
}

.menu_li_a li a:hover {
	text-decoration: none;
	color: white;
	background: #FE5A8C;
	border-radius: 0px;
}

.menu_li_a li .menu_li_style {
	text-decoration: none;
	color: white;
	background: #FE5A8C;
	border-radius: 0px;
}

.menu_li .menu_active,
.menu_li .menu_active_fixed {
	text-decoration: none;
	color: white;
	background: #FE5A8C;
}

.foot_wrap {
	position: relative;
	width: 100%;
	height: 300px;
	margin-top: 133px;
	background: url(../img/foot_banner.png) no-repeat;
	background-size: 100% 100%;
}

.foot_shade {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
}

.foot {
	width: 970px;
	height: 300px;
	margin: 0 auto;
	padding-top: 50px;
	box-sizing: border-box;
}

.foot-list li {
	float: left;
	height: 200px;
}

.foot-list li:nth-child(1) {
	width: 270px;
}

.foot-list li:nth-child(2) {
	width: 270px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

.foot-list li:nth-child(3) {
	width: 420px;
	box-sizing: border-box;
	padding-left: 85px;
}

.foot-list li:nth-child(1) p {
	text-align: center;
	line-height: 64px;
	font-size: 16px;
	color: #adadad;
}

.mc_code {
	width: 110px;
	height: 100px;
	padding: 5px;
	margin: 23px auto 0 auto;
	border-radius: 5px;
	box-sizing: border-box;
	background: #555556;
}
.mc_code img{
	width: 100%;
	height: 100%;
}
.foot-list li:nth-child(2) p {
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
	color: #636466;
}

.foot-list li:nth-child(3) p {
	font-size: 16px;
	line-height: 25px;
	color: #636466;
}
.foot-list li:nth-child(3) p a{
	color: #636466;
}

.inter_box {
	margin-top: 50px;
	font-size: 0;
}

.inter_box a {
	display: inline-block;
	width: 100px;
	height: 48px;
	margin-left: 12px;
	line-height: 48px;
	text-align: center;
	background: #303133;
	color: #fafafa;
	font-size: 16px;
	border-radius: 5px;
}

.inter_box a:nth-child(1) {
	margin-left: 0;
}

.purch_ser {
	/*购买服务按钮*/
	display: block;
	margin: 160px auto 0 auto;
	width: 176px;
	height: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	color: white;
	background: #FE5A8C;
}


/*轮播图*/

.lun_box {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.moveBox {
	position: absolute;
	top: 0;
	left: 0;
	height: 400px;
}

.moveBox li {
	float: left;
	width: 50%;
	height: 400px;
}

.moveBox li img {
	width: 100%;
	height: 100%;
}

.lun_link {
	position: absolute;
	display: inline-block;
	left: 46%;
	bottom: 20px;
	font-size: 0;
}

.lun_link a {
	display: inline-block;
	width: 20px;
	height: 6px;
	margin: 0 5px;
	border-radius: 3px;
	cursor: pointer;
	background: rgba(255, 255, 255, .5);
	-webkit-border-radius: 3px;
	-webkit-background: rgba(255, 255, 255, .5);
}

.lun_link .nav_active {
	width: 35px;
	transition: 0.2s;
	background: white;
}


/*动态*/

@keyframes flowCircle {
	0% {
		/*margin-top:0;
		margin-right: 0;*/
		-webkit-transform: rotate(0) translate(0, 0);
		-o-transform: rotate(0) translate(0, 0);
		-moz-transform: rotate(0) translate(0, 0);
		transform: rotate(0) translate(0, 0);
	}
	50% {
		/*margin-top:-25px;
		margin-right: -150px;*/
		-webkit-transform: rotate(180deg) translate(150px, 80px);
		-o-transform: rotate(180deg) translate(150px, 80px);
		-moz-transform: rotate(180deg) translate(150px, 80px);
		transform: rotate(180deg) translate(150px, 80px);
	}
	100% {
		/*margin-top:-50px;
		margin-right: 100px;*/
		-webkit-transform: rotate(360deg) translate(-15px, -30px);
		-o-transform: rotate(360deg) translate(-15px, -30px);
		-moz-transform: rotate(360deg) translate(-15px, -30px);
		transform: rotate(360deg) translate(-15px, -30px);
	}
}

.bg-circle {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

.bg-circle .circle-img {
	position: absolute;
	border-radius: 50%;
	background: linear-gradient(#ebebeb 50%, #ffffff);
}

.bg-circle .circle-img_01 {
	top: 80px;
	left: 1350px;
	width: 250px;
	height: 250px;
	opacity: 0.6;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate;
	animation: flowCircle 24s ease-in-out infinite alternate;
}

.bg-circle .circle-img_02 {
	left: 400px;
	top: 50px;
	width: 300px;
	height: 300px;
	opacity: 0.4;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate 2s;
	animation: flowCircle 24s ease-in-out infinite alternate 2s;
}

.bg-circle .circle-img_03 {
	width: 350px;
	height: 350px;
	right: -100px;
	top: 430px;
	opacity: 0.6;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate 3s;
	animation: flowCircle 24s ease-in-out infinite alternate 3s;
}

.bg-circle .circle-img_04 {
	width: 900px;
	height: 900px;
	top: 378px;
	left: -513px;
	opacity: 0.7;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate 4s;
	animation: flowCircle 24s ease-in-out infinite alternate 4s;
}

.bg-circle .circle-img_05 {
	width: 150px;
	height: 150px;
	left: 1190px;
	top: 40px;
	opacity: 0.5;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate 2.5s;
	animation: flowCircle 24s ease-in-out infinite alternate 2.5s;
}

.bg-circle .circle-img_06 {
	width: 150px;
	height: 150px;
	right: 870px;
	top: 780px;
	opacity: 0.8;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate 1.5s;
	animation: flowCircle 24s ease-in-out infinite alternate 1.5s;
}

.bg-circle .circle-img_07 {
	width: 900px;
	height: 900px;
	right: -410px;
	top: 1020px;
	opacity: 0.5;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate 1s;
	animation: flowCircle 24s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate 1s;
}

.bg-circle .circle-img_08 {
	width: 300px;
	height: 300px;
	top: 1350px;
	left: 200px;
	opacity: 0.5;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate 3.2s;
	animation: flowCircle 24s ease-in-out infinite alternate 3.2s;
}

.bg-circle .circle-img_09 {
	width: 150px;
	height: 150px;
	left: 520px;
	top: 1200PX;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate 0.5s;
	animation: flowCircle 24s ease-in-out infinite alternate 0.5s;
}

.bg-circle .circle-img_10 {
	width: 250px;
	height: 250px;
	top: 1330px;
	left: 890px;
	opacity: 0.5;
	-webkit-animation: flowCircle 24s ease-in-out infinite alternate 2s;
	animation: flowCircle 24s ease-in-out infinite alternate 2s;
}

